# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
*.egg

# Ambiente virtual
.venv/
venv/
env/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Banco de dados local
*.db
*.sqlite3

# Variáveis de ambiente
.env

# OS
.DS_Store
Thumbs.db
